<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar id="sidnav2" class="content1">
        <i id="avatar" class="material-icons">account_circle</i>
    </mat-toolbar>
    <h2 class="name">John Smith</h2>
    <h3 class="name2">Publisher</h3>
    
    <mat-nav-list>
      <i id="nav-div" class="material-icons">home</i>   
      <a class="content" routerLink="/dashboard" mat-list-item href=""  routerLinkActive="active">Dashboard</a>
      <i id="nav-div" class="material-icons">library_music</i>
      <a class="content" routerLink="/library" mat-list-item href=""  routerLinkActive="active">Library</a>
      <i id="nav-div" class="material-icons">settings</i>
      <a class="content" mat-list-item href="#">Account</a>
      <mat-divider></mat-divider>

      <div class="logout">
          <i id="nav-div" class="material-icons">power_settings_new</i>
          <a class="content" routerLink="/logout" mat-list-item href=""  routerLinkActive="active">Logout</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="content1">Koality Music</span>
      
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
