.type-icon {
  color: #757575;
  margin-right: 5px;
}

/* mat-tree {
  background-color: black;

  
} */

/* mat-tree-node{
  width: 20%;
  height: 100%;
  background-color: black;
  color: white;
  right: 10%
} */

/* mat-icon{
  background-color: black
} */